%p{:class => "show_fields"}
  %b Username:
  = @user.username
%p{:class => "show_fields"}
  %b Firstname:
  = @user.givenname
%p{:class => "show_fields"}
  %b Lastname:
  = @user.sn
%p{:class => "show_fields"}
  %b Email:
  = @user.email
%p{:class => "show_fields"}
  %b Role:
  = @user.role
%p{:class => "show_fields"}
  %b Deptcode:
  = @user.ou